/* You can add global styles to this file, and also import other style files */

@import "assets/css/0-base/variables";
@import "assets/css/0-base/mixins";
@import "assets/css/1-global/default";
@import "assets/css/1-global/helper";
@import "assets/css/1-global/color";
@import "assets/css/2-layout/header";
@import "assets/css/2-layout/footer";
@import "assets/css/3-pages/shop";
@import "assets/css/3-pages/blog";
@import "assets/css/3-pages/single-product";
@import "assets/css/3-pages/error-404";
@import "assets/css/3-pages/compare";
@import "assets/css/3-pages/cart";
@import "assets/css/3-pages/wishlist";
@import "assets/css/3-pages/checkout";
@import "assets/css/3-pages/my-account";
@import "assets/css/3-pages/faq";
@import "assets/css/3-pages/login-register";
@import "assets/css/3-pages/about-us";
@import "assets/css/3-pages/contact";
@import "assets/css/4-components/slider";
@import "assets/css/4-components/button";
@import "assets/css/4-components/categories";
@import "assets/css/4-components/product";
@import "assets/css/4-components/history";
@import "assets/css/4-components/product-countdown";
@import "assets/css/4-components/banner";
@import "assets/css/4-components/testimonial";
@import "assets/css/4-components/brand-logo";
@import "assets/css/4-components/newsletter";
@import "assets/css/4-components/collection";
@import "assets/css/4-components/breadcrumb";
@import "assets/css/4-components/modal";
@import "assets/css/plugins/swiper-bundle.min.css";


body {
    .flosun-modal{
        .modal-dialog{
            max-width: 1000px;
            @include breakpoint(max-lg_device){
                max-width: 980px;
            }
            @include breakpoint(max-md_device){
                max-width: 100%;
            }
            @include breakpoint(max-sm_device){
                max-width: 450px;
            }
            .modal-content{
                .close-button{
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    z-index: 99;
                    opacity: 1;
                    color: $default-color;
                    .close-icon{
                        font-size: 25px;
                    }
                    &:hover{
                        color: $primary-color;
                    }
                }
                .modal-body{
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
        }
    }
    .modal-product{
        @include breakpoint(max-sm_device){
            margin-top: 40px;
        }
        .product-title{
            .title{
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
        .product-rating{
            i{
                font-size: 18px;
                color: $primary-color;
                margin-top: 15px;
            }
        }
        .desc-content{
            margin-top: 30px;
        }
        .nice-select{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 0;
            margin-top: 30px;
            .option{
                min-height: 25px;
                line-height: 25px;
            }
            .list{
                width: 100%;
                box-shadow: none;
                border-left: 1px solid $border-color-2;
                border-right: 1px solid $border-color-2;
                border-bottom: 1px solid $border-color-2;
                margin-top: 2px;
                border-radius: 0px;
            }
            &:focus{
                border: 2px solid #666;
                outline: none;
                box-shadow: none;
            }
        }
        .quantity-with-btn{
            margin-top: 20px;
            flex-direction: column;
            display: flex;
            .add-to_btn{
                margin-top: 20px;
            }
        }
    }
}
