<div class="footer-widget-area {{footerClass}}">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                <div class="single-footer-widget m-0">
                    <div class="footer-logo">
                        <a routerLink="/">
                            <img src="assets/images/logo/logo-footer.png" alt="Logo Image">
                        </a>
                    </div>
                    <div class="desc-content">
                      <p id="bannerTitle">
                        PRICES DEPENDS ON YOUR BUDGET
                      </p>
                      <p id="bannerDesc">
                        We offer flower arrangements for funeral gardening, wreath, coffin bouquet , wedding arrangements, centerpiece, bdays, bouquets for anniversaries & birthdays, etc.
                      </p>
                    </div>
                    <div class="social-links">
                        <ul class="d-flex">
                            <li>
                                <a class="rounded-circle" [href]="facebookLink" title="Facebook">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                <div class="single-footer-widget">
                    <h2 class="widget-title">Information</h2>
                    <ul class="widget-list">
                        <li><a routerLink="/about-us">Our Company</a></li>
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                        <li><a routerLink="/search">Our Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                <div class="single-footer-widget">
                    <h2 class="widget-title">Quicklink</h2>
                    <ul class="widget-list">
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/search">Shop</a></li>
                        <li><a routerLink="/cart">Cart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                <div class="single-footer-widget">
                    <h2 class="widget-title">Support</h2>
                    <ul class="widget-list">
                        <li routerLink="/contact-us"><a>Online Support</a></li>
                        <li><a href="/policy#termsOfService">Terms of Service</a></li>
                        <li><a href="/policy#shippingPolicy">Shipping Policy</a></li>
                        <li><a href="/policy#returnPolicy">Return Policy</a></li>
                        <li><a href="/policy#privacyPolicy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                <div class="single-footer-widget">
                    <h2 class="widget-title">See Information</h2>
                    <div class="widget-body">
                        <address>
                          <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{locationCoordinates}}">{{location}}</a>
                          <br>Phone: <a href="tel: {{mobilePhone}}">{{mobilePhone}}</a>
                          <br>Email: <a href="mailto: {{email}}">{{email}}</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container custom-area">
        <div class="row">
            <div class="col-12 text-center col-custom">
                <div class="copyright-content">
                    <p>Copyright © 2024</p>
                </div>
            </div>
        </div>
    </div>
</div>
